@model greenway2.DTOs.CadastroDTO

@{
    ViewData["Title"] = "Editar Cadastro";
    Layout = "_Layout";
}

<h2>Editar Cadastro</h2>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label for="Nome">Nome</label>
        <input type="text" id="Nome" name="Nome" class="form-control" value="@Model.Nome" required />
    </div>

    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" id="Email" name="Email" class="form-control" value="@Model.Email" required />
    </div>

    <div class="form-group">
        <label for="NumeroRg">Número RG</label>
        <input type="text" id="NumeroRg" name="NumeroRg" class="form-control" value="@Model.NumeroRg" required />
    </div>

    <div class="form-group">
        <label for="NumeroCpf">Número CPF</label>
        <input type="text" id="NumeroCpf" name="NumeroCpf" class="form-control" value="@Model.NumeroCpf" required />
    </div>

    <div class="form-group">
        <label for="Senha">Senha</label>
        <input type="password" id="Senha" name="Senha" class="form-control" value="@Model.Senha" required />
    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="@Url.Action("Index")" class="btn btn-secondary">Cancelar</a>
    </div>
</form>
